<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>  Login</h1>
        <%- include('./partials/messages'); %>

        <form action="/cred/login" method="POST">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Masukkan Email"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Masukkan Password"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">Masuk</button>
        </form>
        <p class="lead mt-4">
          Belum punya akun?? <a href="/cred/register">Daftar</a>
        </p>
        <p class="lead">
          Lupa Password? <a href="/cred/forgot">Forgot</a>
        </p>
      </div>
    </div>
  </div>